@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", system-ui;
    text-decoration: none;
}

body{
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

.logo-container img{
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    align-items: center;
    gap: 200px;
    background-color: #222D38;
    padding: 10px 20px;
    height: 90px;
    justify-content: center;
}
.Cart a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.Inputnav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Inputnav input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.boton-flotante {
    position: fixed;
    bottom: 20px; /* Espaciado desde abajo */
    right: 20px; /* Espaciado desde la derecha */
    width: 50px; /* Tamaño del botón */
    height: 50px;
    background-color: #495968;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50%; /* Lo hace redondo */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    z-index: 9999;
}

.boton-flotante:hover {
    background-color: #343F4A;
}

.carousel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 500px;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-button {
    background-color: #343f4a94;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-button:hover {
    background-color: #343F4A;
}

/*Categorias*/

.splide {
    width: 80%;
    max-width: 900px;
}

.splide__slide a {
    text-decoration: none;
    color: inherit;
}

.SplideConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.primera-card {
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #343F4A;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.primera-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.primera-card h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.CategoriaConteiner {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}

.padding-top {
    padding-top: 70px;
}

.nuestros-productos {
    background-color: #343F4A;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
}

.nuestros-productos h2 {
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f4f4f4;
}

.contenedor-carrusel {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.pista-carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.diapositiva-carrusel {
    min-width: 300px;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.controles-carrusel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.boton-carrusel {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.boton-carrusel:hover {
    background: #555;
}


/*CARDS*/

.SeccionCard {
    margin-top: 70px;
    margin-bottom: 70px;
}

.CardConteiner {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    justify-content: center;
    align-items: stretch; /* Hace que todas las tarjetas tengan la misma altura */
}

.segunda-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    max-width: 400px;
    border-radius: 15px;
    background-color: #343F4A;
    padding: 15px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.segunda-card:hover {
    transform: scale(1.05);
}

.segunda-card h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.segunda-card h4 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* SWIPER (SLIDER DE IMÁGENES EN LAS CARDS)*/
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide img {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.segunda-card h3 {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 5px 0;
}

/* --- BOTÓN "VER MÁS" --- */
.ver-mas-btn {
    display: block;
    margin: 0px auto;
    padding: 8px 16px;
    border: none;
    background-color: #495968;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.ver-mas-btn:hover {
    background-color: #5a6b7e;
}

/* --- BOTÓN COMPRAR Y CANTIDAD --- */
.cant-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cant-comprar input {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
}

.cant-comprar button {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #495968;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.cant-comprar button:hover {
    background-color: #5a6b7e;
}

.flex-footer h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}


.BtnVermas {
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: #343F4A;
    color: white;
    font-size: 15px;
    font-weight: 500;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    cursor: pointer;
}

.BtnVermas:hover {
    background-color: #495968;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espacio entre los botones */
    margin-top: 20px;
}

.swiper-img {
    width: 100%;
    height: 1000px;
    border-radius: 8px;
}

.descripcion {
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 10px;
}

.precio {
    color: #ffffff;
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
}

.popup-modal {
    width: 200px;
    padding: 20px;
    background-color: #343F4A;
    border-radius: 10px;
    color: white;
}