@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
}

body{
    background-color: #1E1E1E;
    padding-top: 90px; /* Ajusta según la altura del header */
}

html {
    scroll-behavior: smooth;
}

.logo-container img{
    margin-top: 50px;
    width: 190px;
    height: 190px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;
    background-color: #1E1E1E;
}
.Cart a {
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
.Inputnav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Inputnav input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    cursor: pointer;
    z-index: 1000;
}

.search-icon img{
    width: 40px;
}
.search-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: 0.3s ease;
}
.search-menu.show {
    display: flex;
}
.search-content {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}
.search-content input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}
.search-content button {
    padding: 12px 20px;
    background: #ff6969;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.search-content button:hover {
    background: #b83939;
}
.hamburger img{
    width: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.menu-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: -250px;
    background: #1E1E1E;
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    padding-top: 20px;
}
.menu-links a {
    padding: 15px;
    text-align: left;
    display: block;
    border-bottom: 1px solid #ff6969;
}
.menu-links.mostrar {
    transform: translateX(-250px);
}

.section {
    display: none;
    padding: 20px;
}

.activo {
    display: block;
}

.boton-flotante {
    position: fixed;
    bottom: 20px; /* Espaciado desde abajo */
    right: 20px; /* Espaciado desde la derecha */
    width: 50px; /* Tamaño del botón */
    height: 50px;
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 50%; /* Lo hace redondo */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    z-index: 9999;
}

.boton-flotante img{
    width: 40px;
}

.boton-flotante:hover {
    background-color: #000000;
}

.carousel {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-top: solid 2px #f3e06f;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 500px;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-button {
    background-color: #ffffff94;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-button:hover {
    background-color: #ff6969;
}

/*Categorias*/

.splide {
    width: 80%;
    max-width: 900px;
}

.splide__slide a {
    text-decoration: none;
    color: inherit;
}

.SplideConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.primera-card {
    width: 280px;
    height: 250px;
    border-radius: 20px;
    background-color: #1A1A1A;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.primera-card img {
    width: 100%;
    height: 82%;
    border-radius: 20px 20px 0 0;
}

.primera-card h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.CategoriaConteiner {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}

.padding-top {
    padding-top: 70px;
}

.nuestros-productos {
    background-color: #000000;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
}

.nuestros-productos h2 {
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f4f4f4;
}

.contenedor-carrusel {
    position: relative;
    width: 1200px;
    overflow: hidden;
}

.pista-carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.diapositiva-carrusel {
    min-width: 300px;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.controles-carrusel {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.boton-carrusel {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.boton-carrusel:hover {
    background: #000000;
}

.mensaje-no-encontrado {
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}


/*CARDS*/

.SeccionCard {
    background-image: url(../assets/HEADER/fondo.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.CardConteiner {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 20px;
    justify-content: center;
    align-items: stretch; /* Hace que todas las tarjetas tengan la misma altura */
}

.segunda-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    max-width: 350px;
    border-radius: 15px;
    background-color: #1a1a1a;
    position: relative;
    padding: 5px;
}

.segunda-card h2 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.segunda-card h4 {
    color: #ff6969;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 5px 0;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}

/* SWIPER (SLIDER DE IMÁGENES EN LAS CARDS)*/
.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 300px;
}

.segunda-card h3 {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 5px 0;
}

.segunda-card:hover .ver-mas-btn{
    opacity: 1;
    transition: all 0.6s ease;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.ver-mas-btn{
    z-index: 10;
    justify-self: center;
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 200px;
}

.pedido-conteiner{
    margin-bottom: 10px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.pedido-btn{
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 500;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    cursor: pointer;
}

.pedido-btn:hover{
    background-color: #ff6969;
}

.ver-mas-btn button{
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    cursor: pointer;
}

/* --- BOTÓN COMPRAR Y CANTIDAD --- */
.cant-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.cant-comprar input {
    width: 120px;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
}

.cant-comprar button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
}

.cant-comprar button:hover {
    background-color: #ff6969;
}

.flex-footer h3 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}


.BtnVermas {
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    -webkit-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    -moz-box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    box-shadow: 2px 3px 7px -1px rgba(133, 133, 133, 1);
    cursor: pointer;
}

.BtnVermas:hover {
    background-color: #ff6969;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* Espacio entre los botones */
    margin-top: 20px;
}

.descripcion {
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 10px;
}

.precio {
    color: #ff6969;
    font-size: 22px;
    margin-top: 15px;
}

.popup-modal {
    border-radius: 15px;
    background-color: #252525;
    color: white;
    padding: 5px;
}

.footer{
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.logo-footer img{
    width: 150px;
}

.Footer-secciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
}

.Footer-secciones a{
    color: white;
}

.Footer-mail {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-mail a{
    color: white;
}

.Footer-logo{
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-logo img{
    width: 50px;
}

.Footer-creado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-creado h2{
    color: white;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 10px;
}

.Footer-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.Footer-copy h2{
    color: white;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background: #222;
    color: #ff6969;
    padding: 20px 0;
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    letter-spacing: 2px;
}

@keyframes marquee {
    from { transform: translateX(100vw); }
    to { transform: translateX(-100%); }
}